server:
  port: 8081
spring:
  application:
    name: mall-user
  datasource:
    url: jdbc:mysql://localhost:3306/pilot_mall?serverTimezone=Asia/Shanghai
    username: root
    password: 123456
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        ip: 127.0.0.1
mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true